*{

    font-family:'Quicksand', Helvetica;
     
    color: white;
}
.hero-2{
    background-color: black;
}
 
.hero-2 h1,.hero .left{
    margin-top: 58px;
}
 
.btn{
    border: 1px solid #4285F4;
}

.hero-2 {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
     
}

.hero-2:before {
    content: '';
    background: url('https://s3-alpha-sig.figma.com/img/bf68/5f66/aaa91d6d792499f0bec0c9762cb57f5b?Expires=1666569600&Signature=hXeKOTtSQKHLVT3JinpH8ne2HvgWPXHSNqkgguprxmml9vTNanIYLHxoBfXn2tsOhffRJpbGZypgT8n3QPCSZcU9DNuzqpRsYLSE9T8E5jD4Z4msNdpz-y-87mZ3FPviIFA8a0SKxTM681lu3CthQExhSyjUxpjpQCCHBgs4S5k6a~Wtfz-hDcef4Z6qTNGbPKmsvuXrZlX6r0vlrm8JBdFVPuFAM7dvXkDRUtlTlfOh5p8LuXv9xhxp4wxIACIv1Ortc7uvWSxXiDjqz3oYl-cDeXQOm8sgIPyqAM8R5GFMbWxnLDhwGynLpFT~Ui12EreSO1A5v3WK~8VyklfPRA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-2 .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}

 